{# src/OC/CoreBundle/Resources/views/Coreviews/menu.html.twig #}

<!-- Navigation -->
<nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Logo and responsive toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony" target="_blank"><span class="glyphicon glyphicon-fire"></span>OCR</a>
            <a class="navbar-brand" href="https://github.com/crocombo/projet_symfony_OCR" target="_blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> <span class="navbarCoulor">My GitHub</a></li>
        </div>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li {% if app.request.attributes.get('_route') == 'oc_core_homepage'  %}class="active"{% endif %}><a href="{{ path('oc_core_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span class="navbarCoulor">Home</a></li>
                <li {% if app.request.attributes.get('_route') == 'oc_platform_home'  %}class="active"{% endif %}><a href="{{ path('oc_platform_home') }}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> <span class="navbarCoulor">Platform</a></li>
                <li {% if app.request.attributes.get('_route') == 'oc_core_contact'  %}class="active"{% endif %}><a href="{{ path('oc_core_contact') }}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span class="navbarCoulor">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
